* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 76px;
    background-color: white;
}

main {
    height: 1000px;
    background-color: #f6f8f9;
}

#logo-boolean {
    vertical-align: middle;
    margin-left: 25px;
}

.title {
    vertical-align: middle;
    font-size: 40px;
    font-weight: 800;
    height: 76px;
    line-height: 76px;
}

.new-activity {
    background-color: white;
    margin: auto;
    /* margin-top: 10px; */
    width: 1100px;
    height: 50px;
    border-radius: 5px 5px 0px 0px;
}

.button {
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 12px;
}

.task {
    color: white;
    background-color: #47adf1;
    border-color: #47adf1;
    margin-left: 50px;
}

.section {
    color: lightgray;
    background-color: white;
    border-color: lightgray;
}

.container {
    background-color: white;
    margin: auto;
    margin-top: 3px;
    /* margin-top: 50px; */
    width: 1100px;
    border-radius: 0px 0px 5px 5px;
    padding-left: 50px;
}

.list {
    padding-top: 40px;
}

.upcoming-task {
    padding-bottom: 80px;
}

ul {
    list-style-type: none;
}

li {
    padding-top: 10px;
}

.symbol {
    display: inline-block;
    border: 3px solid;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    text-align: center;
    font-weight: bold;
}

.check {
    color: green;
    border-color: green;
}

.cross {
    color: red;
    border-color: red;
}