* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 76px;
    background-color: white;
}

main {
    height: 1000px;
    background-color: #f6f8f9;
}

#logo-boolean {
    vertical-align: middle;
    margin-left: 25px;
}

.title {
    vertical-align: middle;
    font-size: 40px;
    font-weight: 800;
    height: 76px;
    line-height: 76px;
}

.container {
    background-color: white;
    margin: auto;
    /* margin-top: 50px; */
    width: 800px;
    height: 800px;
}